<div class="wrapper row2">
    <article class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-80">
        <h6 class="heading underline font-x2">What We Do </h6>
      </div>
      <ul class="nospace group figures btmspace-80">
        <li class="one_third first">
          <figure><img src="./assets/images/demo/connect/2.jpg" alt="">
            <figcaption><em>01</em> <a routerLink='/projects'>Architecture</a></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><img src="./assets/images/demo/connect/1.jpg" alt="">
            <figcaption><em>02</em> <a routerLink='/projects'>Interior Designing</a></figcaption>
          </figure>
        </li>
        <li class="one_third">
          <figure><img src="./assets/images/demo/connect/3.jpg" alt="">
            <figcaption><em>03</em> <a routerLink='/projects'>Modelling and 3d</a></figcaption>
          </figure>
        </li>
      </ul>
      <!-- <footer class="center"><a class="btn" href="#">Condimentum purus nec</a></footer> -->
      <!-- ################################################################################################ -->
    </article>
  </div>
  
  <div class="bgded overlay" style="background-image:url('./assets/images/demo/backgrounds/06_Process.jpeg');"> 
  <div>
    <article class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-80">
        <h6 class="heading underline font-x2">Our Process</h6>
        <div class="row">
            <!-- <div class="col-2"></div> -->
            <div class="col-md-3">
                <i class="fa fa-handshake" style="font-size: 3rem;color: #DC8E47;"></i>
                <h5 class="processheading">MEET & AGREE</h5>
                <p> We Meet and Understand requirement.</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-lightbulb" style="font-size: 3rem;color: #DC8E47;"></i>
                <h5 class="processheading">IDEA & CONCEPT</h5>
                <p>Work on the Idea & Concept as per your requirement.</p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-pencil-alt" style="font-size: 3rem;color: #DC8E47;"></i>
                <h5 class="processheading">DESIGN & CREATE</h5>
                <p>Provide design and 3D to you, and make changes as per your taste. </p>
            </div>
            <div class="col-md-3">
                <i class="fas fa-tasks" style="font-size: 3rem;color: #DC8E47;"></i>
                <h5 class="processheading">BUILD & INSTALL</h5>
                <p>We finally build & install all the required things.</p>
            </div>
            <!-- <div class="col-2"></div> -->
        </div>
      </div>
      
      <!-- <footer class="center"><a class="btn" href="#">Condimentum purus nec</a></footer> -->
      <!-- ################################################################################################ -->
    </article>
  </div>
</div>