<div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-50">
        <h6 class="heading">Meraki Arch Designs</h6>
        <!-- <nav>
          <ul class="nospace inline pushright uppercase">
            <li><a href="index.html"><i class="fas fa-lg fa-home"></i></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </nav> -->
      </div>
      <!-- ################################################################################################ -->
      <hr class="btmspace-50">
      <!-- ################################################################################################ -->
      <div class="group">
        <div class="one_quarter first">
          <h6 class="heading">Address</h6>
          <ul class="nospace btmspace-30 linklist contact">
            <li><i class="fas fa-map-marker-alt"></i>
              <address>
              Sector 54, Gurgaon, 122011
              </address>
            </li>
            <li><i class="fas fa-phone"></i> +91-7678345899</li>
            <li><i class="far fa-envelope"></i> info@merakiarchdesigns.com</li>
          </ul>
          <ul class="faico clear">
            <li><a class="faicon-facebook" target="_blank" href="https://www.facebook.com/merakiarchdesigns/"><i class="fab fa-facebook"></i></a></li>
            <li><a class="faicon-google-plus" target="_blank" href="https://www.instagram.com/merakiarchdesigns"><i class="fab fa-instagram"></i></a></li>
            <li><a class="faicon-linkedin" target="_blank" href="https://in.pinterest.com/merakiarchdesigns/"><i class="fab fa-pinterest"></i></a></li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Subscribe</h6>
          <p class="nospace btmspace-15">Please subscribe to our Newsletter.</p>
          <form method="post" action="#">
            <fieldset>
              <legend>Newsletter:</legend>
              <input class="btmspace-15" type="text" value="" placeholder="Name">
              <input class="btmspace-15" type="text" value="" placeholder="Email">
              <button type="submit" value="submit">Submit</button>
            </fieldset>
          </form>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Markets</h6>
          <ul class="nospace linklist">
            <li>Residential</li>
            <li>Hospitality</li>
            <li>Commercial</li>
            <li>Institutional</li>
            <!-- <li><a href="#">Residentials</a></li>
            <li><a href="#">Dignissim erat proin diam</a></li>
            <li><a href="#">Aenean vehicula augue</a></li>
            <li><a href="#">Et neque sed ligula nisl</a></li>
            <li><a href="#">Dictum quis tempus eu</a></li> -->
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Work</h6>
          <ul class="nospace clear latestimg">
            <li><a class="imgover" routerLink='/projects'><img src="./merakiarchdesigns.io/assets/images/demo/suggestion/1.jpg" alt=""></a></li>
            <li><a class="imgover" routerLink='/projects'><img src="./merakiarchdesigns.io/assets/images/demo/suggestion/2.jpg" alt=""></a></li>
            <li><a class="imgover" routerLink='/projects'><img src="./merakiarchdesigns.io/assets/images/demo/suggestion/3.jpg" alt=""></a></li>
            <li><a class="imgover" routerLink='/projects'><img src="./merakiarchdesigns.io/assets/images/demo/suggestion/4.jpg" alt=""></a></li>
            <li><a class="imgover" routerLink='/projects'><img src="./merakiarchdesigns.io/assets/images/demo/suggestion/5.jpg" alt=""></a></li>
            <li><a class="imgover" routerLink='/projects'><img src="./merakiarchdesigns.io/assets/images/demo/suggestion/6.jpg" alt=""></a></li>
            <li><a class="imgover" routerLink='/projects'><img src="./merakiarchdesigns.io/assets/images/demo/suggestion/7.jpg" alt=""></a></li>
          
          </ul>
        </div>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">Meraki Arch Designs</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>