#aboutintro {
    padding: 80px 0;
}

#spanlist {
    font-weight: 500;
    font-size: 25px;
}

.about-ria {
    margin-top: 0px;
}

.ria {
    width: 70%;
}

@media screen and (max-width:978px){
	

    footer {
        margin-top: 20px;
    }
}