<body id="top">
   <div class="bgded overlay" style="background-image:url('./assets/images/demo/backgrounds/04_about.jpg');"> 
      <app-header></app-header>
     <div id="aboutintro" class="hoc clear"> 
        <article class="center">
            
        </article>
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: #DC8E47;" class="heading underline contact">About Meraki Arch Designs</h2>
                <p>At Meraki Arch Designs, we are passionate about creating elegant and creative space in your home. We believe that customer should be at the heart of everything we do – be it for a commercial space or home decor or simply an office space. We constantly thrive to create a space that best complements our customers need.</p>
                <br>
                <p>We, Meraki Arch Designs, situated at Gurgaon, Harayana operates primarily in the fields of architecture and interior designing with a talented team of designers. We have successfully conceptualized and completed the interior designs of numerous residential, commercial projects as well as architectural projects. We have completed some of the finest designs with the help of our renowned designers.</p>                    
       
        <footer><a class="btn btn-warning" routerLink='/projects' >View Our Work</a></footer>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1 style="color: #DC8E47;" class="heading underline contact">What We Do</h1>
          <ul style="list-style: none;">
              <li><img style="width: 11%;" src="./assets/images/demo/gallery/ar.png" alt=""><span id="spanlist">&nbsp;&nbsp;&nbsp;Architecture</span></li>
              <li style="margin-top: 25px;"><img style="width: 11%;"src="./assets/images/demo/gallery/id.png" alt=""><span id="spanlist">&nbsp;&nbsp;&nbsp;Interior Desinging</span></li>
              <li style="margin-top: 25px;"><img style="width: 11%;" src="./assets/images/demo/gallery/3d.png" alt=""><span id="spanlist">&nbsp;&nbsp;&nbsp;Modelling & 3d</span></li>
          </ul>
    
        </div>


        </div>
       
      </div>

      
     
    </div>

    <!-- <div class="about-ria bgded overlay" style="background-image:url('./assets/images/demo/backgrounds/05_aboutria.jpeg');"> 
       <div id="aboutintro" class="hoc clear"> 
          <article class="center">  
          </article>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img class="ria" src="./assets/images/demo/gallery/ria.jpeg" alt="">
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <h2 style="color: #DC8E47;margin-top: 50px;" class="heading underline contact">Ria Bansal - Principal Architect</h2>
                <p>
                    Ria strongly believes that every project should be designed contextually evolving spaces that are perceived in new ways.
                </p>
                <p>Times are constantly changing, and it’s important to stay up-to-date with the latest trends and designs. She has been transforming homes and terrace spaces in a way that aligns with her clients’ taste and vision. She is extremely happy to help you create the design you have always wanted.</p>
            </div>
          </div>
         
        </div>
  
        
       
      </div> -->

    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="../../js/scripts/jquery.min.js"></script>
    <script src="../../js/scripts/jquery.backtotop.js"></script>
    <script src="../../js/scripts/jquery.mobilemenu.js"></script>
    </body>


    <article class="center">
        
      </article>