<body id="top">
  <div
    class="bgded overlay"
    style="
      background-image: url('./assets/images/demo/backgrounds/06_project.webp');
    "
  >
    <app-header></app-header>

    <div class="row">
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/noida1/1.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
         <img
         class="project-box"
         src="./assets/images/demo/projects/noida1/2.jpg"
         alt=""
       />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/noida1/3.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/noida1/4.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
         <img
         class="project-box"
         src="./assets/images/demo/projects/noida1/5.jpg"
         alt=""
       />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/noida1/6.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/11.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
         <img
         class="project-box"
         src="./assets/images/demo/projects/gaziabad1/12.jpg"
         alt=""
       />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/13.jpg"
          alt=""
        />
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/14.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
         <img
         class="project-box"
         src="./assets/images/demo/projects/gaziabad1/9.jpg"
         alt=""
       />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/10.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/bhatinda1/1.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
         <img
         class="project-box"
         src="./assets/images/demo/projects/delhi1/1.jpg"
         alt=""
       />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/1.jpg"
          alt=""
        />
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
       
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/delhi1/2.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/delhi1/3.jpg"
          alt=""
        />
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/delhi1/4.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/delhi1/5.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
         <img
         class="project-box"
         src="./assets/images/demo/projects/patiala1/1.jpg"
         alt=""
       />

      </div>
    </div>
    <div class="row">
      
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/3.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/4.jpg"
          alt=""
        />
        <div class="col-md-4">
       
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/5.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/6.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <img
          class="project-box"
          src="./assets/images/demo/projects/gaziabad1/7.jpg"
          alt=""
        />
      </div>
     
    </div>
    <div class="row">
       <div class="col-md-4"></div>
       <div class="col-md-4">
         <img
         class="project-box"
         src="./assets/images/demo/projects/gaziabad1/2.jpg"
         alt=""
       />

      </div>
       <div class="col-md-4">
         <img
           class="project-box"
           src="./assets/images/demo/projects/gaziabad1/8.jpg"
           alt=""
         />
       </div>
    </div>
  </div>

  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="../../js/scripts/jquery.min.js"></script>
  <script src="../../js/scripts/jquery.backtotop.js"></script>
  <script src="../../js/scripts/jquery.mobilemenu.js"></script>
</body>
