<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('./assets/images/demo/backgrounds/01_Home.jpg');"> 
  <!-- ################################################################################################ -->
  
  <app-header></app-header>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article class="center">
      <h3 class="heading underline">Modern. Classic. Timeless.</h3>
      <p>We create spaces with a sense of PRIDE and CARE.</p>
      <!-- <footer><a class="btn" routerLink='/projects' >EXPLORE</a></footer> -->
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Aliquam erat volutpat</h6>
    </div>
    <ul class="nospace group overview btmspace-80">
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-eraser"></i></a>
          <h6 class="heading"><a href="#">Vivamus laoreet orci vel massa phasellus</a></h6>
          <p>Tortor praesent et nulla maecenas eu nibh laoreet varius mauris lectus&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-cut"></i></a>
          <h6 class="heading"><a href="#">Sem iaculis blandit ultrices adipiscing</a></h6>
          <p>Ultricies et ligula aliquam erat volutpat cras lobortis augue in vulputate&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-hand-holding-heart"></i></a>
          <h6 class="heading"><a href="#">Rhoncus sapien magna turpis proin</a></h6>
          <p>Posuere justo non malesuada libero ut lectus curabitur eu neque felis&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-rocket"></i></a>
          <h6 class="heading"><a href="#">Dictum quisque est imperdiet pulvinar</a></h6>
          <p>Quam iaculis sed pretium ac fringilla ultricies nibh in mauris libero interdum&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Quis molestie convallis</a></footer>
    <div class="clear"></div>
  </main>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Connect with us for </h6>
    </div>
    <ul class="nospace group figures btmspace-80">
      <li class="one_third first">
        <figure><img src="./assets/images/demo/connect/2.jpg" alt="">
          <figcaption><em>01</em> <a routerLink='/projects'>Architecture</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="./assets/images/demo/connect/1.jpg" alt="">
          <figcaption><em>02</em> <a routerLink='/projects'>Interior Designing</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="./assets/images/demo/connect/3.jpg" alt="">
          <figcaption><em>03</em> <a routerLink='/projects'>Modelling and 3d</a></figcaption>
        </figure>
      </li>
    </ul>
    <!-- <footer class="center"><a class="btn" href="#">Condimentum purus nec</a></footer> -->
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="bgded overlay startlt light" style="background-image:url('./assets/images/demo/backgrounds/01.png');">
  <section id="segment" class="hoc clear"> 
  
    <div class="two_third">
      <h6 class="heading underline font-x2">Mauris at tellus dui integer</h6>
      <p class="btmspace-50">Eu tortor bibendum est faucibus gravida donec velit lacus blandit ultricies placerat a pharetra a nulla pellentesque sit donec scelerisque etiam et tellus eget urna.</p>
      <article><a href="#"><i class="fas fa-flag-checkered"></i></a>
        <h6 class="heading">Turpis nulla id nisl</h6>
        <p>Suspendisse fermentum purus commodo ultricies adipiscing augue ante facilisis dolor eget varius justo elit sit amet leo vivamus suspendisse&hellip;</p>
        <footer><a href="#">Read More &raquo;</a></footer>
      </article>
      <article><a href="#"><i class="fas fa-recycle"></i></a>
        <h6 class="heading">Scelerisque pellentesque</h6>
        <p>Sed leo duis adipiscing ligula eget risus curabitur id quam a odio malesuada euismod mauris faucibus aliquet urna vivamus et libero duis sed&hellip;</p>
        <footer><a href="#">Read More &raquo;</a></footer>
      </article>
    </div>
    
  </section>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper row2">
  <section class="hoc container clear"> 
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Justo maecenas at lectus</h6>
    </div>
    <ul class="nospace group figures latest btmspace-80">
      <li class="one_third first">
        <figure><img src="./assets/images/demo/348x261.png" alt="">
          <figcaption><a href="#">Sem integer vulputate</a>
            <time datetime="2045-04-03"><strong>03</strong> Apr</time>
          </figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="./assets/images/demo/348x261.png" alt="">
          <figcaption><a href="#">Lectus vitae lorem quisque</a>
            <time datetime="2045-04-02"><strong>02</strong> Apr</time>
          </figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="./assets/images/demo/348x261.png" alt="">
          <figcaption><a href="#">Pede purus faucibus in</a>
            <time datetime="2045-04-01"><strong>01</strong> Apr</time>
          </figcaption>
        </figure>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Bibendum eget hendrerit</a></footer>
  </section>
</div> -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('./assets/images/demo/backgrounds/03_quotes.jpeg');">
  <section id="testimonials" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <!-- <div class="center btmspace-80">
      <h6 class="heading underline font-x2">morbi ac diam quis felis</h6>
    </div> -->
    <ul class="nospace group marginspace-80">
      <li class="one_third first">
        <blockquote>Architecture should speak of its time and place, but yearn for timelessness.</blockquote>
        <figure class="clear"><img style="max-width: 40px;"class="circle" src="./assets/images/demo/gallery/02.jpeg" alt="">
          <figcaption>
            <h6 class="heading">Frank Gehry</h6>
            <!-- <em>CEO / Company Name</em> -->
          </figcaption>
        </figure>
      </li>
      <li class="one_third">
        <blockquote>Beauty perishes in life, but is immortal in art.</blockquote>
        <figure class="clear"><img style="max-width: 40px;" class="circle" src="./assets/images/demo/gallery/03.jpeg" alt="">
          <figcaption>
            <h6 class="heading">Leonardo da Vinci</h6>
            <!-- <em>Director / Company Name</em> -->
          </figcaption>
        </figure>
      </li>
      <li class="one_third">
        <blockquote>The difference between good and bad architecture is the time you spend on it.</blockquote>
        <figure class="clear"><img style="max-width: 40px;" class="circle" src="./assets/images/demo/gallery/01.jpeg" alt="">
          <figcaption>
            <h6 class="heading">David Chipperfield</h6>
            <!-- <em>Marketing / Company Name</em> -->
          </figcaption>
        </figure>
      </li>
    </ul>
    <!-- <footer class="center"><a class="btn" href="#">Cras fringilla gravida</a></footer> -->
    <!-- ################################################################################################ -->
  </section>
</div>
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../../js/scripts/jquery.min.js"></script>
<script src="../../js/scripts/jquery.backtotop.js"></script>
<script src="../../js/scripts/jquery.mobilemenu.js"></script>
</body>